<tr>
  <td><%= presenter.id %></td>
  <td><%= presenter.status %></td>
  <td><%= presenter.error %></td>
  <td><%= presenter.submitter_email %></td>
  <td><%= presenter.source_location %></td>
  <td><%= presenter.admin_set_title %></td>
  <td><%= presenter.collection_title %></td>
  <td><%= presenter.created_at %></td>
  <td><%= presenter.updated_at %></td>
</tr>
