<tr class="batch-item" data-batch-item-id="<%= presenter.id %>">
  <td><%= presenter.status_span_tag %></td>
  <td><%= presenter.id_within_batch %></td>
  <td><%= presenter.source_location %></td>
  <td><%= presenter.object_id %></td>
  <td><%= presenter.error %></td>
</tr>
<!-- TODO: copy Donut's expandable row containing error information  -->
