<tr>
  <td><%= batch.id %></td>
  <td><%= batch.status %></td>
  <td><%= batch.error.message %></td>
  <td><%= batch.submitter_email %></td>
  <td><%= batch.source_path %></td>
  <td><%= batch.admin_set.name %></td>
  <td><%= batch.collection.name %></td>
  <td><%= batch.created_at %></td>
  <td><%= batch.updated_at %></td>
</tr>
